In [1]:
%matplotlib inline
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

import re
import glob
import csv

import time

import nltk

from sklearn.externals import joblib

In [4]:
df = pd.read_csv('data/MeTooSTEM.csv')
print(df.head())

                    id      conversation_id     created_at        date  \
0  1115338964397895680  1115338964397895680  1554752505000  2019-04-08
1  1115335506097836033  1115335506097836033  1554751681000  2019-04-08
2  1115334978781569024  1115334978781569024  1554751555000  2019-04-08
3  1115330819185369100  1115330819185369100  1554750563000  2019-04-08
4  1115322598139867139  1115322598139867139  1554748603000  2019-04-08

       time timezone             user_id         username             name  \
0  15:41:45      EDT  834812681672605696         ljuba_pi      Liuba Papeo
1  15:28:01      EDT          3148749695  falla_alejandra  Alejandra Falla
2  15:25:55      EDT           340277194   chelsey_rhodes   Chelsey Rhodes
3  15:09:23      EDT           151161683  reneeisfabulous            Renee
4  14:36:43      EDT  968873186786979840      marionhogg2      Marion Hogg

  place        ...        retweet gif_url gif_thumb video_url video_thumb  \
0   NaN        ...            NaN     NaN       NaN       NaN         NaN
1   NaN        ...            NaN     NaN       NaN       NaN         NaN
2   NaN        ...            NaN     NaN       NaN       NaN         NaN
3   NaN        ...            NaN     NaN       NaN       NaN         NaN
4   NaN        ...            NaN     NaN       NaN       NaN         NaN

  is_quote_status             quote_id  \
0               0                    0
1               1  1115288010176761857
2               1  1115305418224545792
3               0                    0
4               0                    0

                                           quote_url  is_reply_to  \
0                                                NaN            0
1  https://twitter.com/mariamonic91/status/111528...            0
2  https://twitter.com/AnnOlivarius/status/111530...            0
3                                                NaN            0
4                                                NaN            0

   has_parent_tweet
0                 0
1                 0
2                 0
3                 0
4                 0

[5 rows x 32 columns]

In [5]:
print(df.tail())

                      id     conversation_id     created_at        date  \
8896  955468224203755523  955468224203755523  1516636351000  2018-01-22
8897  955097730765991937  955097730765991937  1516548018000  2018-01-21
8898  951807927190466561  951798169276436480  1515763668000  2018-01-12
8899  939256988101431296  939256988101431296  1512771291000  2017-12-08
8900  939253524059344896  939253524059344896  1512770465000  2017-12-08

          time timezone             user_id       username  \
8896  10:52:31      EDT          4562173852      sciencevs
8897  10:20:18      EDT           298619241    drcswilliam
8898  08:27:48      EDT  787836169811746820  shittymenlist
8899  17:14:51      EDT           298619241    drcswilliam
8900  17:01:05      EDT           298619241    drcswilliam

                     name place        ...        retweet gif_url gif_thumb  \
8896           Science Vs   NaN        ...            NaN     NaN       NaN
8897  Claudia William, MD   NaN        ...            NaN     NaN       NaN
8898        ShittyMenList   NaN        ...            NaN     NaN       NaN
8899  Claudia William, MD   NaN        ...            NaN     NaN       NaN
8900  Claudia William, MD   NaN        ...            NaN     NaN       NaN

     video_url video_thumb is_quote_status            quote_id  \
8896       NaN         NaN               0                   0
8897       NaN         NaN               1  954912872949141504
8898       NaN         NaN               1  951518544369512448
8899       NaN         NaN               0                   0
8900       NaN         NaN               0                   0

                                              quote_url  is_reply_to  \
8896                                                NaN            0
8897  https://twitter.com/TheMomoftheHour/status/954...            0
8898  https://twitter.com/annawaymack/status/9515185...            1
8899                                                NaN            0
8900                                                NaN            0

      has_parent_tweet
8896                 0
8897                 0
8898                 1
8899                 0
8900                 0

[5 rows x 32 columns]

In [6]:
df.describe()

,id,conversation_id,created_at,user_id,replies_count,retweets_count,likes_count,location,retweet,is_quote_status,quote_id,is_reply_to,has_parent_tweet
count,8.901000e+03,8.901000e+03,8.901000e+03,8.901000e+03,8901.000000,8901.000000,8901.000000,0.0,0.0,8901.000000,8.901000e+03,8901.000000,8901.000000
mean,1.066191e+18,1.065554e+18,1.543035e+12,3.032811e+17,0.720930,4.280643,14.493315,NaN,NaN,0.316706,3.374774e+17,0.256376,0.256376
std,3.318776e+16,3.514883e+16,7.912578e+09,4.417201e+17,3.725931,19.115036,111.482696,NaN,NaN,0.465218,4.961886e+17,0.436656,0.436656
min,9.392535e+17,2.045999e+17,1.512770e+12,1.024200e+04,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000e+00,0.000000,0.000000
25%,1.045350e+18,1.044248e+18,1.538066e+12,5.047823e+08,0.000000,0.000000,1.000000,NaN,NaN,0.000000,0.000000e+00,0.000000,0.000000
50%,1.067856e+18,1.067644e+18,1.543432e+12,2.155745e+09,0.000000,1.000000,3.000000,NaN,NaN,0.000000,0.000000e+00,0.000000,0.000000
75%,1.096993e+18,1.096741e+18,1.550379e+12,8.512929e+17,1.000000,3.000000,10.000000,NaN,NaN,1.000000,1.036685e+18,1.000000,1.000000
max,1.115339e+18,1.115339e+18,1.554753e+12,1.113899e+18,252.000000,901.000000,8882.000000,NaN,NaN,1.000000,1.115305e+18,1.000000,1.000000

In [8]:
df.dtypes

id                    int64
conversation_id       int64
created_at            int64
date                 object
time                 object
timezone             object
user_id               int64
username             object
name                 object
place                object
tweet                object
tags                 object
replies              object
mentions             object
urls                 object
photos               object
replies_count         int64
retweets_count        int64
likes_count           int64
location            float64
hashtags             object
link                 object
retweet             float64
gif_url              object
gif_thumb            object
video_url            object
video_thumb          object
is_quote_status       int64
quote_id              int64
quote_url            object
is_reply_to           int64
has_parent_tweet      int64
dtype: object